body {
font-family: 'Space Grotesk', sans-serif;
}

/* typo */
h1 {
  font-size: 100px;
  font-weight: bold;
}
/* /typo */
/* mix */
.list-inline {
  margin-bottom: 0;
}
/* /mix */
/* buttons */
.btn_primary:hover {
  color: #fff;
}

.btn_primary {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  font-weight: 600;
  padding: 8px 20px;
}

.btn_mobile {
  background-color: transparent;
}
/* /buttons */
.hedear_top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 64px;
  line-height: 64px;
  background-color: #fff;
}

.logo {
  height: 100%;
  display: inline-block;
}

.logo svg {
  height: 18px;
}

.main-nav, .secondary-nav {
  display: inline-block;
}

.main-nav li {
  margin-right: 25px;
}

.main-nav li a {
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}

.main-nav li a:hover {
  text-decoration: none;
}

.secondary-nav .lang {
  background-color: transparent;
  border: none;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  color: #000;
  font-size: 12px;
  line-height: normal;
}
.hero {
  padding: 60px 0;
  margin-top:64px;
}
.hero__img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
}
